.cities-list {
  width: 100%;
  font-size: 0;
  background-color: white;
  /* border: 2px solid white; */
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  margin-bottom: 39px;
  margin-left: -2px;
}

.cities-list__item {
  display: inline-block;
  width: 25%;
  height: 147px;
  font-size: 22px;
  line-height: 25.78px;
  text-align: center;
  /* border: 2px solid white; */
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding-top: 28px;
  box-sizing: border-box;
}

.cities-list__item--medium-width {
  width: 50%;
}

.cities-list__item--full-width {
  width: 100%;
}

[data-order="1"] {
  background-color: #65b2d9;
}

[data-order="2"] {
  background-color: #33cccc;
}

[data-order="3"] {
  background-color: #996699;
}

[data-order="4"] {
  background-color: #c24747;
}

[data-order="5"] {
  background-color: #e2674a;
}

[data-order="6"] {
  background-color: #ffcc66;
}

[data-order="7"] {
  background-color: #99cc99;
}

[data-order="8"] {
  background-color: #669999;
}

[data-order="9"] {
  background-color: #cc6699;
}

[data-order="10"] {
  background-color: #339966;
}

[data-order="11"] {
  background-color: #666699;
}

[data-order] {
  opacity: 0.7;
}

[data-order]:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.cities-list__weather-details {
  display: block;
  margin-top: 5px;
}
